/* font add here  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: miama;
  src: url(../font/Miama.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common color variable  */

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgba(255, 255, 255, 0.5);
  --btn-color: rgb(230, 83, 60);
  --bg-color: rgb(0, 0, 0);
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
}

/* common style css  */

.container {
  max-width: 90%;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

p {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

h2 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.text-align {
  text-align: center;
}

.common-margin {
  margin-bottom: 5rem;
}

.maima-font {
  font-family: miama;
  font-size: 6.4rem;
  font-weight: 500;
}

/* nav section css here  */

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.nav-container {
  padding-top: 3.2rem;
  justify-content: space-between;
  align-items: center;
}

.nav-container h1 {
  color: var(--btn-color);
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}

.nav-option {
  gap: 3.2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.3rem;
  padding: 1rem 0.8rem;
}

.unique-btn {
  border-radius: 2.3rem;
  background: rgb(230, 83, 60);
  padding: 0.4rem 0.8rem;
}

.nav-option li {
  list-style: none;
}

.nav-option li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.icon {
  color: var(--primary-color);
  font-size: 1.2rem;
  display: none;
}

/* hero section container  */
.hero-section {
  justify-content: space-between;
  gap: 200px;
}

.hero-content h1 {
  color: var(--primary-color);
  font-size: 5.4rem;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 120%;
}

.hero-content p {
  margin-bottom: 20px;
}

.primary-btn {
  color: var(--primary-color);
  background-color: var(--btn-color);
  padding: 1rem;
  font-weight: 600;
  width: 40%;
  font-size: 1.2rem;
  border-radius: 2.6rem;
  border: none;
  margin-right: 1rem;
}

.sec-btn {
  color: var(--primary-color);
  background-color: transparent;
  padding: 1rem;
  font-weight: 600;
  width: 40%;
  font-size: 1.2rem;
  border-radius: 2.6rem;
  border: 1px solid var(--primary-color);
}

.img-content,
.img-content-sec {
  border-radius: 1rem;
  backdrop-filter: blur(1.2rem);
  background: rgba(255, 255, 255, 0.1);
  width: 60%;
  text-align: start;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
}

.img-content p,
.img-content-sec p {
  font-size: 0.8rem;
}

.img-content h3,
.img-content-sec h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-color);
}

.hero-img {
  position: relative;
  margin-right: 50px;
}

.img-content {
  position: absolute;
  top: 175px;
  right: -87px;
}

.img-content-sec {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 76px;
  left: -140px;
}

.circle-div i {
  font-size: 2rem;
  color: var(--btn-color);
}

/* habit container section  */
.habit-img-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}

.habit-img-content img {
  border-radius: 50%;
}

.habit-img-content h4 {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin: 10px 0;
}

/* extra run container section  */

.extra-run-container {
  justify-content: space-between;
  gap: 8rem;
  padding: 3rem;
  border-radius: 1.2rem;
  background: rgb(34, 34, 34);
}

.extra-run-img {
  width: 50%;
}

.extra-run-content {
  width: 50%;
}
.extra-run-img img {
  width: 100%;
  border-radius: 1.2rem;
  object-fit: none;
  object-position: 70% 27%;
}

/* bmi section code here  */
.bmi-content {
  max-width: 600px;
  margin: 0 auto;
}

.bmi-bottom-content {
  background: rgb(34, 34, 34);
  padding: 5rem 0;
  margin-top: 5rem;
}
.bmi-calculate {
  width: 80%;
  margin: 0 auto;
}

.bmi-calculate h4 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.4rem;
}

.bmi-calculate{
  gap: 5rem;
}

.bmi-table {
  width: 70%;
}

.bmi-table-from {
  border-collapse: collapse;
  margin-top: 4rem;
  width: 80%;
}

table,
tr,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--secondary-color);
  text-align: start;
  padding: 0.5rem 1rem;
}

th {
  color: rgb(255, 255, 255);
}

.bmi-chart p {
  margin: 1rem 0;
}

.input-fill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}

input,
select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: var(--secondary-color);
}

.input-full-fil{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}

::placeholder {
  color: var(--secondary-color);
  opacity: 1; 
}

/* our team img container  */

.img-div img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.grid-template-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 80px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 6rem;
}

.img-text h4 {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.img-div {
  position: relative;
}

.img-text {
  position: absolute;
  bottom: 14px;
  left: 23px;
}

/* our price container section  */
.our-price-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

.our-price {
  background: rgba(255, 255, 255, 0.1);
  padding: 4rem 0;
  border-radius: 0.5rem;
  margin-top: 4rem;
}

.our-price h4{
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.our-price span {
  color: var(--btn-color);
  font-size: 2rem;
  font-weight: 800;
}

.our-price .sec-btn {
  border: 2px solid var(--btn-color);
}
/* footer container section  */

footer{
  padding: 4rem 0;
  background: rgba(255, 255, 255, 0.1);
}
.footer-container {
  justify-content: space-evenly;
  align-items: center;
}

.fitness-name h1 {
  color: var(--btn-color);
  font-style: italic;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 12px;
}

.fitness-option h4 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.fitness-option ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.fitness-option ul li{
  list-style: none;
}

.fitness-option li a{
  color: var(--secondary-color);
  text-decoration: none;
}

.hr-footer{
  text-align: center;
  color: var(--secondary-color);
  margin-top: 3rem;
}

.hr-footer p{
  margin-top: 20px;
}

.hr-footer hr{
  border: 1px solid var(--secondary-color);
}

/* resposive for mobile area  */

@media screen  and (max-width:576px){

  p {
    font-size: 0.8rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  .nav-option{
    display: none;
  }

  .icon {
    display: block;
  }

  .hero-section,
  .habit-img-container,
  .extra-run-container,
  .bmi-calculate,
  .footer-container {
    flex-direction: column;
  }

  .primary-btn, .sec-btn{
    width: 45%;
    font-size: 0.8rem;
  }
  .hero-section{
    gap: 4rem;
  }

  .hero-content h1 {
    font-size: 3.4rem;
  }
  
  .hero-img img {
    width: 100%;
    margin-right: 0px;
    margin-left: 30px;
  }

  .img-content,
.img-content-sec {
  width: 50%;
}

.img-content {
  top: 97px;
  right: -51px;
}

.img-content-sec {
  bottom: 80px;
  left: 6px;
}

.img-content h3,
.img-content-sec h3 {
  font-size: 1.4rem;
}

  .extra-run-img img {
    width: 100%;
    object-fit: cover;
    object-position: none;
  }
  

  .extra-run-img {
    width: 100%;
  }

  .extra-run-container{
    gap: 3rem;
    padding: 2rem;
  }
  
  .extra-run-content {
    width: 100%;
  }

  .extra-run-content .primary-btn {
    width: 100%;
  }

  .grid-template-img ,
  .our-price-content{
    grid-template-columns: repeat(1, 1fr);
  }


  .bmi-calculate {
    width: 90%;
    margin: 0 auto;
  }

  .bmi-table {
    width: 100%;
  }

  .bmi-content{
    margin-left: 30px;
  }

  .fitness-option{
    text-align: start;
  }

  .bmi-calculate{
    gap: 3rem;
  }

  .our-price-content{
    gap: 0.5rem;
  }

  .our-price{
    margin-top: 2rem;
  }
}